/* #txt-sec {
  width: 100%;
  padding-top: 10px;
}

.ko {
  width: 100%;
  height: 100px;
  background-color: #388e3c;
  margin-bottom: 70px;
}

.adu {
  width: 60%;
  height: auto;
  margin: 0 20% 50px 20%;
}

.adu-txt {
  float: left;
  width: 100%;
  border-left: 4px solid green;
  border-right: 4px solid green;
}

.adu h2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: red;
  margin-bottom: 50px;
}

.card {
  width: 60%;
  margin: 70px 20% 50px 20%;
}

.card h2 {
  width: 100%;
  float: left;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: red;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card p {
  float: left;
  height: 25px;
  line-height: 25px;
  width: 20%;
  margin: 20px 3.8% 20px 0;
  text-align: center;
  border: 1.5px solid green;
  border-radius: 10px;
  animation: ooo 0.5s forwards !important;
}

.first-p {
  margin: 20px 3.8% 20px 3.8% !important;
}

.card p:hover {
  font-weight: bold;
}

.adus {
  width: 65%;
  margin-left: 5%;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.dates {
  color: brown;
  float: right;
  width: 25%;
  font-size: 1em;
  margin-right: 5%;

  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

@keyframes ooo {
  0% {
    background: #e6f0dc;
  }
  10% {
    background: linear-gradient(to right, mintcream 10%, #e6f0dc 10%);
  }
  20% {
    background: linear-gradient(to right, mintcream 20%, #e6f0dc 20%);
  }
  30% {
    background: linear-gradient(to right, mintcream 30%, #e6f0dc 30%);
  }
  40% {
    background: linear-gradient(to right, mintcream 40%, #e6f0dc 40%);
  }
  50% {
    background: linear-gradient(to right, mintcream 50%, #e6f0dc 50%);
  }
  60% {
    background: linear-gradient(to right, mintcream 60%, #e6f0dc 60%);
  }
  70% {
    background: linear-gradient(to right, mintcream 70%, #e6f0dc 70%);
  }
  80% {
    background: linear-gradient(to right, mintcream 80%, #e6f0dc 80%);
  }
  90% {
    background: linear-gradient(to right, mintcream 90%, #e6f0dc 90%);
  }
  100% {
    background-color: mintcream;
  }
}

@media screen and (max-width: 1200px) {
  .adu,
  .card {
    width: 80%;
    margin: 30px 10% 30px 10%;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 803px) {
  .adu,
  .card {
    width: 90%;
    margin: 30px 5% 30px 5%;
  }

  .adus {
    width: 90%;
  }
  .dates {
    width: 90%;
    text-align: right;
  }

  .card p {
    font-size: 0.8em;
    width: 24%;
    margin: 0 0.5% 0 0 !important;
  }
}

@media screen and (max-width: 437px) {
  .dates {
    margin-top: 15px;
  }

  .card p {
    width: 45%;
    margin: 0 2% 10px 2% !important;
  }

  .card {
    margin-bottom: 50px;
  }
} */
