#about-sec {
  width: 100%;
  height: 500px;
}

#about-sec img {
  margin-top: 10px;
  width: 20%;
  float: left;
  margin-left: 20%;
  height: 380px;
  margin-top: 15px;
  box-shadow: 20px 20px green;
}

.about-txt {
  width: 35%;
  float: right;
  margin-right: 20%;
  font-size: 1.1em;
}

.about-txt h2 {
  position: relative;
  background-color: #e6f0dc;
  width: 100%;
  border-bottom: 3px solid black;
}

.und {
  color: brown;
}

.hello span {
  margin-left: 28%;
}
.hello h1 {
  margin-top: 70px;
  margin-left: 22%;
  margin-right: 20%;
  padding: 0 0 40px 0;
}

.hello {
  position: relative;
  z-index: 0;
  width: 100%;
  background-color: #388e3c;
  color: #fff;
  font-size: 1.4em;
  padding-top: 25px;
}

.hello span::after {
  margin-left: 5px;
  content: "";
  border: 1px solid white;
  animation: typingEffect 1s infinite;
}

@keyframes typingEffect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
