.menu a {
  color: rgb(72, 72, 72) !important;
}
.menu {
  width: 100%;
  position: fixed;
  opacity: 1;
  height: 70px;
  top: -20px;
  z-index: 10;
  background-color: #67c46a !important;
}

.menu li {
  display: inline-block;
  width: 25%;
  text-align: center;
  line-height: 70px;
  font-size: 1.2em;
  height: 55px;
}

.body-wrap {
  position: relative;
  top: 50px;
}
