#pro-sec {
  width: 100%;
  height: 500px;
  padding-top: 10px;
}

.proh {
  border-top: 5px double green;
  opacity: 0;
}

#pro-sec h2 {
  position: absolute;
  top: 135px;
  background-color: #e6f0dc;
  left: 45%;
  font-size: 1.8em;
  color: green;
}

.project {
  width: 90%;
  margin: 70px 5% 50px 5%;
}

.project > li {
  border: 5px solid green;
  background-color: rgb(51, 119, 88);
  overflow-y: hidden;
  display: inline-block;
  width: 30%;
  height: 250px;
  margin-left: 2.4%;
  border-radius: 20px;
  opacity: 0;
  position: relative;
}

.project > li:nth-child(1) {
  animation: cooo 1.5s forwards;
}
.project > li:nth-child(2) {
  animation: cooo 2s forwards;
}
.project > li:nth-child(3) {
  animation: cooo 3s forwards;
}
.project > li:nth-child(4) {
  animation: cooo 3s forwards;
}
.project > li:nth-child(5) {
  animation: cooo 4s forwards;
}
.project > li:nth-child(6) {
  animation: cooo 4.5s forwards;
}
.project > li:nth-child(7),
.project > li:nth-child(8),
.project > li:nth-child(9),
.project > li:nth-child(10),
.project > li:nth-child(11),
.project > li:nth-child(12) {
  animation: cooo 5s forwards;
}

.project li img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}

.project li h3,
.project li h4 {
  position: absolute;
  left: 10px;
  color: white;
}

.project li ul li {
  position: absolute;
  left: 10px;
  color: white;
  line-height: 30px;
}

.project li ul li:nth-child(1) {
  top: 50px;
}

.project li ul li:nth-child(2) {
  top: 80px;
}

.project li ul li:nth-child(3) {
  top: 130px;

  padding-right: 10px !important;
}
.project li ul li:nth-child(4) {
  top: 210px;
  left: 5%;
}
.project li ul li:nth-child(5) {
  top: 210px;
  left: 80%;
}

.project a:visited,
.project a:visited,
.project a:active,
.project a:link {
  color: white;
  font-weight: 500;
}

a:hover {
  font-weight: bold;
}

.project a:hover {
  font-weight: 400;
}

.proh {
  animation: cooo 3s forwards;
}

@keyframes cooo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blur-image {
  transition: filter 0.5s; /* 흐려지는 트랜지션 지정 */
  opacity: 0.4;
}

.blur-image:hover {
  filter: blur(5px); /* 흐려지는 정도 지정 */
  cursor: pointer; /* 마우스 커서를 손가락 형태로 변경 */
  z-index: -1;
}

.probtn {
  cursor: pointer;
  border: 2px solid white;
  padding: 3px;
  border-radius: 50%;
  z-index: 10;
}
