/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;
  background-color: #dee7d5;
}

/* 프로젝트 목록 스타일 */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.menu {
  width: 100%;
  position: fixed;
  opacity: 1;
  height: 70px;
  top: -20px;
  background-color: #67c46a !important;
}

.menu li {
  display: inline-block;
  width: 25%;
  text-align: center;
  line-height: 70px;
  font-size: 1.2em;
  height: 55px;
}

.body-wrap {
  position: relative;
  top: 50px;
}

a {
  text-decoration: none;
}

a:visited,
a:active,
a:link {
  color: rgb(15, 70, 22);
  font-weight: 500;
}

a:hover {
  font-weight: bold;
}

.menu a {
  color: rgb(72, 72, 72) !important;
}

.active {
  font-weight: bold !important;
  border-bottom: 5px solid goldenrod;
}
