body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "NanumGothic-Bold";
  src: url("./fonts/NanumGothic-Bold.ttf");
}

@font-face {
  font-family: "NanumGothic-ExtraBold";
  src: url("./fonts/NanumGothic-ExtraBold.ttf");
}

@font-face {
  font-family: "NanumGothic-Regular";
  src: url("./fonts/NanumGothic-Regular.ttf");
}
